%h1= I18n.t("home")

%p
  Durch Riesen wee am, sinn zënne Klarinett eng ke, no fort d'Wéën gin. Keng wellen der hu.
  %br
  Ze d'Leit d'Stroos rou, dir haut kommen Poufank et, wat am ma'n d'Liewen. Stad Ronn un mat,
  %br
  si dat Well drun. Vun hu riede séngt. Nët brét Stréi ke.

%hr
= render :partial => "/shared/navigation.html"

%hr
= render :partial => "/shared/locale_links.html"
