%h1 Impressum

%p
  Es ist ein paradiesmatisches Land, in dem einem gebratene Satzteile in den Mund fliegen.
  %br
  Selbst der allmächtige Pointing hat keine Kontrolle über die Blindtexte, es ist ein geradezu unorthographisches Leben.
  %br
  Eines Tages aber beschloß eine kleine Zeile Blindtext, ihr Name war Lorem Ipsum, zur weit entfernten Welt der Grammatik aufzubrechen.
  